[broker]
bootstrap.servers = $CONFLUENT_BOOTSTRAP_SERVERS
sasl.mechanism    = PLAIN
security.protocol = SASL_SSL
sasl.username     = $CONFLUENT_USERNAME
sasl.password     = $CONFLUENT_PASSWORD

[consumer]
client.id = ucsb_indentation_consumer
group.id           = create_new
auto.offset.reset  = earliest
enable.auto.commit = False
fetch.min.bytes    = 100000
key.deserializer   = StringDeserializer
value.deserializer = DataFileChunkDeserializer
