[broker]
bootstrap.servers = pkc-ep9mm.us-east-2.aws.confluent.cloud:9092
sasl.mechanism    = PLAIN
security.protocol = SASL_SSL
sasl.username     = J5XA7OPVEKAWDVFD
sasl.password     = 2bdYGFnxthdWCYAW99FyOd+sscPwu7j96kYYDC7B7GB9jM/olkpslNakfm0E2jzO

[producer]
linger.ms                  = 32
compression.type           = lz4
key.serializer             = StringSerializer
value.serializer           = DataFileChunkSerializer

